<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Reserva de Eventos</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Cliente/eventos}">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contrato}">Contratos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Crear Nuevo Evento</h1>
            <div class="card-body">
                <form th:action="@{/Cliente/createEvento}" th:object="${evento}" method="POST">
                    <div class="form-group">
                        <label>Nombre del Evento</label>
                        <input type="text" name="nombreEvento" th:field="*{nombre}"
                               class="form-control"
                               placeholder="Ingresar Nombre del Evento" />
                        <p th:errors="*{nombre}" class="text-danger"
                           th:if="${#fields.hasErrors('nombre')}"></p>
                    </div>

                    <div class="form-group">
                        <label>Fecha del Evento</label>
                        <input type="date" name="fechaEvento" th:field="*{fechaString}"
                               class="form-control"
                               placeholder="Seleccione la fecha del evento" />
                        <p th:errors="*{fechaString}" class="text-danger"
                           th:if="${#fields.hasErrors('fechaString')}"></p>
                    </div>

                    <div class="form-group">
                        <label>Duración del Evento (Horas)</label>
                        <input type="number" name="horasEvento" th:field="*{duracion}"
                               class="form-control"
                               placeholder="Ingrese cuantas horas durará el evento" />
                        <p th:errors="*{duracion}" class="text-danger"
                           th:if="${#fields.hasErrors('duracion')}"></p>
                    </div>

                    <div class="form-group">
                        <label>Seleccionar Personal</label>
                        <select th:field="*{personal}" name="idPersonal" class="form-control">
                            <option th:each="personal :${personalList}" th:value="${personal.id}" th:text="${personal.nombre}" />
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Seleccionar Local</label>
                        <select th:field="*{establecimiento}" name="idEstablecimiento" class="form-control">
                            <option th:each="establecimiento :${establecimientoList}" th:value="${establecimiento.id}" th:text="${establecimiento.nombre}" />
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Costo Aproximado del Evento</label>
                        <input type="number" name="stock" th:field="*{monto}"
                               class="form-control"
                               placeholder="S/" />
                        <p th:errors="*{monto}" class="text-danger"
                           th:if="${#fields.hasErrors('monto')}"></p>
                    </div>

                    <div class="form-group" style="display: none">
                        <label>Id</label>
                        <input type="text" name="idCliente" th:field="*{cliente}"
                               class="form-control" th:value="*{cliente}"
                               placeholder="Ingresar Id" />
                        <p th:errors="*{cliente}" class="text-danger"
                           th:if="${#fields.hasErrors('cliente')}"></p>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>